/**
 * projet   : LegaChat
 * version  : 0.1-a
 * date     : 5/07/2019
 * file     : webApp.css
 * location : /front/css/
 * author   : Anarchy
 */

body {
  position: fixed;
  top: 0;
}

#loader, #grid { top: 0; }

@media(max-width: 720px) {
	#chat { top: 2em; }
}

/**
 * END
 */
