<!DOCTYPE html>
<!--
	projet   : LegaChat
	version  : 0.1-a
	date     : 5/07/2019
	file     : chat.html
	author   : Anarchy
-->
<div id="chat">
	<div id="popup"></div>
	<aside id="chatHeader">
		<div class="btnArea">
			<button id="save">
				<span class="fal fa-save"></span>
			</button>
			<button id="updateUsrPsw">
				<span class="fal fa-key"></span>
			</button>
			<button id="chatLogOut">
				<span class="fal fa-power-off"></span>
			</button>
		</div>
		<span class="fas fa-chevron-right"></span>
		<h1>LegaChat</h1>
		<h3 id="chatSession">
			<span class="fa fa-user"></span>
		</h3>
	</aside>
	<aside id="chatOutput"></aside>
	<aside id="chatEntry">
		<form>
			<textarea name="sendContent" placeholder="message..." required></textarea>
			<button type="submit">
				<span class="fa fa-paper-plane"></span>
			</button>
		</form>
	</aside>
</div>
<!-- END -->
