<!DOCTYPE html>
<!--
	projet   : LegaChat
	version  : 0.1-a
	date     : 5/07/2019
	file     : login.html
	author   : Anarchy
-->
<div id="login">
	<form>
		<h2>login</h2>
		<br />
		<div class="inputBox">
			<span class="fal fa-user"></span>
			<input type="text" name="username" maxlength="32" placeholder="username" required />
		</div>
		<div class="inputBox">
			<span class="fal fa-key"></span>
			<input type="password" name="password" maxlength="64" placeholder="password" required />
		</div>
		<p class="error"></p>
		<input type="submit" value="connexion" />
	</form>
</div>
<!-- END -->
