<!DOCTYPE html>
<!--
	projet   : LegaChat
	version  : 0.1-a
	date     : 5/07/2019
	file     : newPass.html
	author   : Anarchy
-->
<div class="btnArea">
	<button type="button" id="popupClose">
		<span class="fal fa-times"></span>
	</button>
</div>
<form>
	<div class="inputBox">
		<span class="fal fa-key"></span>
		<input type="password" name="password" maxlength="64" placeholder="new password" required />
	</div>
	<p class="error"></p>
	<input type="submit" value="apply" />
</form>
<!-- END -->
