/**
 * projet   : LegaChat
 * version  : 0.1-a
 * date     : 5/07/2019
 * file     : chat.css
 * location : /front/css/
 * author   : Anarchy
 */

@charset "UTF-8";

#chat .btnArea {
	position: absolute;
	right: 0;
}

#chat span { color: rgb(217, 17, 17); }

#chat #popup {
	background: rgba(255, 255, 255, .9);
	box-shadow: 0 0 25px rgba(50, 50, 50, .5);
	height: auto;
}

#chat #popup .btnArea {
	position: relative;
	text-align: right;
}

#chat #popup input[type="submit"] {
	border: 2px solid rgb(51, 51, 51);
	cursor: pointer;
	font-size: 1.5em;
	margin: 2em 0 0 0;
	padding: 8px 0;
	text-transform: capitalize;
	transition: .3s all;
	width: 100%;
}
#chat #popup input[type="submit"]:hover {
	background: rgb(51, 51, 51);
	color: rgb(238, 238, 238);
	text-shadow: 0 0 8px currentColor;
}

#chat .btnArea button {
	background: transparent;
	border: none;
	border-radius: 500px;
	cursor: pointer;
	display: inline-block;
	font-size: 2em;
	height: 1.5em;
	text-align: center;
	transition: .2s all;
	vertical-align: middle;
	width: 1.5em;
}
#chat .btnArea button:hover { background: rgba(217, 17, 17, .75); }
#chat .btnArea button:hover span { color: rgb(255, 255, 255); }

#chat #chatHeader {
	display: block;
	height: 80px;
	opacity: 0;
	position: relative;
}

#chat #chatHeader .fas { font-size: 2.5em; }

#chat #chatHeader h1 {
	display: inline;
	font-size: 2.5em;
}

#chat #chatHeader h3 {
	color: rgb(217, 17, 17);
	text-transform: capitalize;
}

#chat #chatOutput {
	height: 25em;
	opacity: 0;
	overflow: auto;
	position: relative;
}

#chat #chatOutput article {
	background: rgba(255, 255, 255, .6);
	box-sizing: border-box;
	display: inline-block;
	margin: 5px 0;
	padding: .5em;
	width: 60%;
}
#chat #chatOutput article.owner {
	background: rgba(17, 17, 17, .6);
	margin-left: 40%;
}

#chat #chatOutput article.owner .msgContent { color: rgb(255, 255, 255); }

#chat #chatOutput article .msgOwner,
#chat #chatOutput article .msgDate {
	display: inline-block;
	width: 50%;
}

#chat #chatOutput article .msgOwner {
	color: rgb(217, 17, 17);
	font-weight: bold;
	text-transform: capitalize;
}

#chat #chatOutput article .msgDate {
	color: rgb(157, 157, 157);
	text-align: right;
}

#chat #chatOutput article .msgContent {
	display: block;
	padding-top: .5em;
	word-wrap: break-word;
}
#chat #chatOutput article .msgContent a:hover { text-decoration: underline; }
#chat #chatOutput article .msgContent a,
#chat #chatOutput article .msgContent a:visited {
	color: rgb(57, 207, 207);
	text-decoration: none;
}

#chat #chatEntry {
	display: block;
	height: 4em;
	opacity: 0;
	position: relative;
}

#chat #chatEntry textarea {
	background: rgba(255, 255, 255, .6);
	border: none;
	border-top: 2px solid rgba(17, 17, 17, .6);
	box-sizing: border-box;
	font-size: 1em;
	height: 4em;
	left: 0;
	padding: .25em 4em .25em .25em;
	position: absolute;
	resize: none;
	right: 2em;
	width: 100%;
}
#chat #chatEntry textarea::placeholder { text-transform: capitalize; }

#chat #chatEntry button {
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 2em;
	height: 2em;
	position: absolute;
	right: 0;
	transition: .2s all;
	width: 2em;
}
#chat #chatEntry button:hover { background: rgba(217, 17, 17, .2); }

@media(max-width: 720px) {
	#chat {
		bottom: .5em;
		left: .5em;
		min-width: none;
		max-width: none;
		right: .5em;
		top: .5em;
		transform: none;
		width: auto;
	}

	#chat #chatOutput {
		bottom: 5em;
		height: auto;
		left: 1em;
		position: absolute;
		right: 1em;
		top: 100px;
	}

	#chat #chatEntry {
		bottom: 1em;
		left: 1em;
		position: absolute;
		right: 1em;
	}
}

/**
 * END
 */
