/**
 * projet   : LegaChat
 * version  : 0.1-a
 * date     : 5/07/2019
 * file     : main.css
 * location : /front/css/
 * author   : Anarchy
 */

@charset "UTF-8";

@font-face {
	font-family: "Ubuntu";
	src: url('../fonts/Ubuntu-Regular.ttf');
}

* {
	color: rgb(50, 50, 50);
	font-family: Ubuntu;
	margin: 0;
	padding: 0;
}

html {
	background: url('../assets/bg.jpeg') center no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#grid {
	display: none;
	position: fixed;
	z-index: -1;
}

body {
	height: 100%;
	width: 100%;
}

section {
	height: 100%;
	position: relative;
	width: 100%;
}

#login, #chat, #chat #popup {
	background: rgba(255, 255, 255, .75);
	display: none;
	left: 50%;
	padding: 1em;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
#chat {
	min-width: 18em;
	max-width: 50em;
	width: 50%;
}

#login::before, #chat::before, #chat #popup::before,
#login::after, #chat::after, #chat #popup::after {
	border: 8px solid rgb(217, 17, 17);
	content: '';
	height: 1.5em;
	position: absolute;
	width: 1.5em;
}
#login::before, #chat::before, #chat #popup::before {
	border-right: 0;
	border-top: 0;
	bottom: 0;
	left: 0;
	margin: 0 0 -4px -4px;
}
#login::after, #chat::after, #chat #popup::after {
	border-bottom: 0;
	border-left: 0;
	margin: -4px -4px 0 0;
	right: 0;
	top: 0;
}

input {
	background: transparent;
	border: none;
	display: block;
}
input::placeholder {
	color: rgb(255, 17, 17);
	text-transform: capitalize;
}

.inputBox {
	display: block;
	position: relative;
}

.inputBox span {
	font-size: 1.25em;
	padding: .25em 0;
	position: absolute;
	text-align: center;
	width: 1em;
}

.inputBox input[type="text"],
.inputBox input[type="password"] {
	border-bottom: 2px solid;
	font-size: 1.25em;
	font-weight: lighter;
	height: 1.5em;
	margin-bottom: 1em;
	padding: 0 0 .25em 1.5em;
	width: auto;
}

.error {
	color: rgb(217, 17, 17);
	display: none;
	left: 0;
	position: absolute;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}

/**
 * END
 */
