/**
 * projet   : LegaChat
 * version  : 0.1-a
 * date     : 5/07/2019
 * file     : main.css
 * location : /front/css/
 * author   : Anarchy
 */

@charset "UTF-8";

@font-face {
	font-family: "Ubuntu";
	src: url('../fonts/Ubuntu-Regular.ttf');
}

* {
	color: rgb(50, 50, 50);
	font-family: Ubuntu;
	margin: 0;
	padding: 0;
}

html {
	background: url('../assets/bg.jpeg') center no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#grid {
	display: none;
	position: fixed;
	z-index: -1;
}

body {
	height: 100%;
	width: 100%;
}

section {
	height: 100%;
	position: relative;
	width: 100%;
}

input {
	background: transparent;
	border: none;
	display: block;
}
input::placeholder {
	color: rgb(255, 17, 17);
	text-transform: capitalize;
}

.inputBox {
	display: block;
	position: relative;
}

.inputBox span {
	font-size: 1.25em;
	padding: .25em 0;
	position: absolute;
	text-align: center;
	width: 1em;
}

.inputBox input[type="text"],
.inputBox input[type="password"] {
	border-bottom: 2px solid;
	font-size: 1.25em;
	font-weight: lighter;
	height: 1.5em;
	margin-bottom: 1em;
	padding: 0 0 .25em 1.5em;
	width: auto;
}

.error {
	color: rgb(217, 17, 17);
	display: none;
	left: 0;
	position: absolute;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}

/**
 * END
 */
